mule/out/test/esb/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}"
                          doc:name="HTTP Listener Configuration"/>

    <amqp:connector name="defaultAmqpConnector"/>

    <flow name="rabbitmq-flow">

        <amqp:inbound-endpoint queueName="inbox"
                               connector-ref="defaultAmqpConnector"/>
        <custom-transformer encoding="UTF-8" class="com.wjelogistics.edi.esb.transformer.SmooksTransformer"
                            doc:name="Smooks Transformer" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <amqp:outbound-endpoint connector-ref="defaultAmqpConnector" queueName="outbox"/>
    </flow>
</mule>