mule/esb/src/main/app/ftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:script="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/1.0-SNAPSHOT/mule-mulerequester.xsd">

    <!-- Use Mule Requester to get files from FTP -->

    <mulerequester:config name="Mule_Requester" />
    <ftp:connector name="FTPConfig" doc:name="FTP" validateConnections="true"/>

    <flow name="service-ftp">
        <amqp:inbound-endpoint queueName="ftp.inbox" queueDurable="true"
                               connector-ref="defaultAmqpConnector"/>

        <flow-ref name="serviceCommonFlow" />

        <set-variable variableName="ftpServer" value="#[sessionVars.FTP_SERVER]" />
        <set-variable variableName="ftpUsername" value="#[sessionVars.FTP_USERNAME]" />
        <set-variable variableName="ftpPassword" value="#[sessionVars.FTP_PASSWORD]" />
        <set-variable variableName="ftpPort" value="#[sessionVars.FTP_PASSWORD]" />
        <set-variable variableName="ftpPath" value="#[sessionVars.FTP_PATH]" />

        <mulerequester:request-collection config-ref="Mule_Requester" count="-1"
            resource="ftp://#[flowVars.ftpUsername]:#[flowVars.ftpPassword]@#[flowVars.ftpServer]
            :#[flowVars.ftpPort]/#[flowVars.ftpPath]/inbox/?connector=FTPConfig"/>

        <foreach collection="#[payload]">
            <amqp:outbound-endpoint connector-ref="defaultAmqpConnector" queueName="ftp.outbox"/>
            <set-property propertyName="MULE_CORRELATION_ID" value="#[message.correlationId + '-'
         + message.correlationSequence]" />
            <logger level="INFO" />
        </foreach>

        <exception-strategy ref="SentToQueue_Strategy" />
    </flow>

</mule>