mule/esb/src/main/app/quartz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- Quartz REST management API -->
    <flow name="quartzManagementFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/quartz/{action}"/>

        <set-variable variableName="method" value="#[message.inboundProperties.'http.uri.params'.action]"/>
        <object-to-string-transformer/>

        <component>
            <singleton-object class="com.wjelogistics.edi.esb.component.QuartzService"/>
        </component>
    </flow>

</mule>