mule/esb/src/main/app/schedule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
      http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="scheduleTestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dashboard/schedules.json">
            <http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
        </http:listener>

        <set-payload value="#[Thread.currentThread().getContextClassLoader().getResourceAsStream('schedules.json')]"/>

    </flow>

    <!-- Scheduler Beater -->
    <flow name="scheduleFlow">
        <poll>
            <fixed-frequency-scheduler frequency="5" timeUnit="SECONDS" startDelay="0"/>
            <redis:get-schedule-jobs config-ref="Redis_Configuration" queueKey="mule:jobs"
                                     frequencyKey="mule:frequency"/>
            <!--<redis:zrange-by-score config-ref="Redis_Configuration" key="dashboard:jobs" />-->
        </poll>
          
        <expression-filter expression="#[payload != empty]"/>
        <collection-splitter/>
        <logger level="INFO" message="#[payload]"/>
        <amqp:outbound-endpoint connector-ref="defaultAmqpConnector" queueName="configurator.inbox"/>
    </flow>
</mule>
