mule/esb/src/main/app/transformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="service-smooks-transformer">

        <amqp:inbound-endpoint queueName="inbox"
                               connector-ref="defaultAmqpConnector"/>
        <set-variable variableName="originalMessage" value="#[payload]" doc:name="Variable"/>

        <enricher doc:name="Message Enricher">
            <db:select config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[select body from entities where id = 3;]]></db:parameterized-query>

            </db:select>
            <enrich target="#[flowVars['mapping_file']]" source="#[payload[0].body]"/>
        </enricher>

        <custom-transformer encoding="UTF-8" class="com.wjelogistics.edi.esb.transformer.SmooksEdiToXmlTransformer"
                            doc:name="Smooks Edi to Xml Transformer"/>
        <logger level="INFO" doc:name="Logger"/>
        <amqp:outbound-endpoint connector-ref="defaultAmqpConnector" queueName="outbox"/>

        <exception-strategy ref="SentToQueue_Strategy" />
    </flow>
</mule>