mule/esb/src/main/app/validator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:script="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <!--<http:listener-config name="http_conf" host="localhost" port="8888" doc:name="HTTP Response Configuration"/>-->

    <flow name="validator">

        <amqp:inbound-endpoint queueName="validator-inbox"
                               connector-ref="defaultAmqpConnector"/>

        <!--<http:listener path="/{amount}" doc:name="HTTP Connector" config-ref="http_conf"/>-->

        <!--<set-payload value="#[message.inboundProperties.'http.uri.params'.amount]"/>-->

        <byte-array-to-string-transformer />

        <scripting:component doc:name="USD Currency Script">
            <scripting:script file="groovy/greedy.groovy">
                <property key="currency" value="USD"/>
            </scripting:script>
        </scripting:component>

        <logger level="INFO" />

        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[flowVars['originalMessage']]" doc:name="Set Payload"/>
            <set-property propertyName="EXCEPTION_SUMMARY" value="#[exception.getSummaryMessage()]" doc:name="Property"/>
            <amqp:outbound-endpoint connector-ref="defaultAmqpConnector" queueName="dead.letter"/>
        </catch-exception-strategy>
    </flow>

</mule>